  .taskItem{
    display: flex;
    padding: 5px;
  }

  .tdId{
    flex: 1;
    text-align: center;
   }
   .tdContent{
    color: #2F70CC;
    font-weight: 600;
     flex: 2.5;
   }
   .tdCheck{
     flex: 1;
     text-align: center;
   }
   .tdAction{
     flex: 2;
     text-align: center;
   
   }
   .btnGroupAction{
    display: flex;
    justify-content: space-around;
   }