.headList{
  display: flex;
}
.tdId{
  flex: 1;
  text-align: center;
 }
 .tdContent{
   flex: 2.5;
 }
 .tdCheck{
   flex: 1;
   text-align: center;
 }
 .tdAction{
   flex:2;
   text-align: center;
 
 }