html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* tt */
div>button:nth-child(3){
  background-color: #D82C0D;
  color: white;
}
div>button:nth-child(3):hover{
  background-color: #D82C0D;
  color: white;
}
.editForm{

  padding: 3rem 0 3rem;
}
.btnSubmit{
  margin-top: 3rem;
}